<h1>Bonjour <%= @user.username %> </h1>
<p> Voici nos dernières recettes qui te feront salivé ! </p>


<p>  Les Voici    </p>

<li>  <%= @lastrecipes %> </li>

<p> Venez les retouver sur notre site ! </p>



A bientôt <strong>Soul Kitchen</strong>