<div class="wrapper">
  <main>
    <div class="toolbar">
      <div class="toggle">
        <div class="toggle__option">week</div>
        <div class="toggle__option toggle__option--selected">week</div>
      </div>
      
    </div>
    <div class="calendar">
      <div class="calendar__header">
        <div>Lundi</div>
        <div>Mardi</div>
        <div>Mercredi</div>
        <div>Jeudi</div>
        <div>Vendredi</div>
        <div>Samedi</div>
        <div>Dimanche</div>
      </div>
      <div class="calendar__week">
        <div class="calendar__day day">Midi</div>
        <div class="calendar__day day">Midi</div>
        <div class="calendar__day day">Midi</div>
        <div class="calendar__day day">Midi</div>
        <div class="calendar__day day">Midi</div>
        <div class="calendar__day day">Midi</div>
        <div class="calendar__day day">Midi</div>
      </div>
      <div class="calendar__week">
        <div class="calendar__day day">Soir</div>
        <div class="calendar__day day">Soir</div>
        <div class="calendar__day day">Soir</div>
        <div class="calendar__day day">Soir</div>
        <div class="calendar__day day">Soir</div>
        <div class="calendar__day day">Soir</div>
        <div class="calendar__day day">Soir</div>
      </div>
      
    </div>
  </main>
  </div>