 <div class="receipe-post-area section-padding-80">

        <!-- Receipe Post Search -->
        <div class="receipe-post-search mb-80">
            <div class="container">
                <form action="/categories/:id" method="get">
                    <div class="row">
                        <div class="col-12 col-lg-3">
                            <select name="select_category" id="select_category">
                                <% @i = 1 %>
                                <% Category.all.each do |u| %>
                                    <option value="<%= @i %>"><%= u.name %></option>
                                    <% @i += 1 %>
                                <% end %>
                            </select>
                        </div>
                        
                        
                        <div class="col-12 col-lg-3 text-right">
                            <button type="submit" class="btn delicious-btn">Rechercher</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>